.aboutMeBody{
    opacity: 0;
	order: 1;
	display: inline-flex;
	flex-flow: column wrap;
	justify-content: center;
	position: relative;
	padding: 15px;
    animation: fadeInLeft 1s ease-in-out 0.25s 1 forwards;
    
    &.buttonClicked{
        animation: fadeOutLeft 1s ease-in-out 0s 1 forwards;
    }
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(100vw);
	}
	100%{
		opacity: 1;
		transform: translateX(0vw);
	}
}

@keyframes fadeOutLeft{
	0%{
		opacity: 1;
        transform: translateX(0vw);
	}
	100%{
		opacity: 0;
        transform: translateX(-100vw);
	}
}

.upperAboutMeBody {
    display: grid;
    grid-template-columns: auto auto; /* Two columns: one for picture, one for description */
    justify-content: center;
    gap: 20px; /* Space between columns */
    max-width: 800px; /* Optional: controls width of entire container */
}

.lowerAboutMeBody{
    order: 1;
    position: relative;
}

.selfPicture {
    grid-column: 1; /* Picture stays in first column */
    grid-row: 1;
    position: relative;
    height: 414.4px;
    width: 317px;
    background-image: url("https://cdn.rawgit.com/NumaKarolinski/PersonalWebsite/websiteVersion1.2/src/SourceImages/good_numa_photo_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

.selfDescription {
    grid-column: 2; /* Initially stays in the second column */
    grid-row: 1;

    /* Full width on new row when wrapping */
    @media (max-width: 600px) { /* Adjust this max-width based on when you want wrap to happen */
        grid-column: 1 / span 2;
        margin: 20px auto;
    }
    
    width: 100%; /* Takes full width when on the second row */
}


#aboutMeDescriptionText{
    display: table-cell;
    text-align: justify;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: #503070;
}

.selfLinks{
    order: 0;
    position: relative;
    margin: 20px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.aboutMeRedirectDiv{
	opacity: 1;
	height: 45px;
	width: 100px;
	border: 2px solid #707090;
	border-radius: 20px;
	margin: 10px;
	box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
	background: rgba(250, 250, 250, 0.3);
	display: table;
	text-decoration: none;
	cursor: pointer;

	&.clicked{
		background: rgba(40, 40, 40, 0.2);
	}
}

.aboutMeDownloadDiv{
	opacity: 1;
	height: 45px;
	width: 100px;
	border: 2px solid #707090;
	border-radius: 20px;
	margin: 10px;
	box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
	background: rgba(250, 250, 250, 0.3);
	display: table;
	text-decoration: none;
	cursor: pointer;

	&.clicked{
		background: rgba(40, 40, 40, 0.2);
	}
}

.aboutMeTextBox{
	display: table-cell;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #503070;

	&.clicked{
		color: rgb(75, 75, 125);
	}
}

#linkedInDiv{
    order: 0;
}

#githubDiv{
    order: 1;
}

#resumeDiv{
    order: 2;
}