.aboutMeBody{
    opacity: 0;
	order: 1;
	display: inline-flex;
	flex-flow: column wrap;
	justify-content: center;
	position: relative;
	padding: 15px;
    animation: fadeInLeft 1s ease-in-out 0.25s 1 forwards;
    
    &.buttonClicked{
        animation: fadeOutLeft 1s ease-in-out 0s 1 forwards;
    }
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(100vw);
	}
	100%{
		opacity: 1;
		transform: translateX(0vw);
	}
}

@keyframes fadeOutLeft{
	0%{
		opacity: 1;
        transform: translateX(0vw);
	}
	100%{
		opacity: 0;
        transform: translateX(-100vw);
	}
}

.upperAboutMeBody{
    order: 0;
    position: relative;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.lowerAboutMeBody{
    order: 1;
    position: relative;
}

.selfPicture{
    order: 0;
    position: relative;
    width: 317px;
    height: 416px;
    background-image: url("https://cdn.rawgit.com/NumaKarolinski/PersonalWebsite/websiteVersion1.2/src/SourceImages/good_numa_photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

.selfDescription{
    order: 1;
    position: relative;
    display: table;
    width: 390px;
    height: 200px;
    margin: auto 20px;
}


#aboutMeDescriptionText{
    display: table-cell;
    text-align: justify;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    color: #503070;
}

.selfLinks{
    order: 0;
    position: relative;
    margin: 20px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.aboutMeRedirectDiv{
	opacity: 1;
	height: 45px;
	width: 100px;
	border: 2px solid #707090;
	border-radius: 20px;
	margin: 10px;
	box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
	background: rgba(250, 250, 250, 0.3);
	display: table;
	text-decoration: none;
	cursor: pointer;

	&.clicked{
		background: rgba(40, 40, 40, 0.2);
	}
}

.aboutMeDownloadDiv{
	opacity: 1;
	height: 45px;
	width: 100px;
	border: 2px solid #707090;
	border-radius: 20px;
	margin: 10px;
	box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
	background: rgba(250, 250, 250, 0.3);
	display: table;
	text-decoration: none;
	cursor: pointer;

	&.clicked{
		background: rgba(40, 40, 40, 0.2);
	}
}

.aboutMeTextBox{
	display: table-cell;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #503070;

	&.clicked{
		color: rgb(75, 75, 125);
	}
}

#linkedInDiv{
    order: 0;
}

#githubDiv{
    order: 1;
}

#resumeDiv{
    order: 2;
}